@import './../../styles/variables';

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;

    section.profile {
        flex: 1;
    }

    section.details {
        width: 37.5rem;
        height: 100vh;
        padding: 3rem;
        background: $white-color;
        overflow-y: auto;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        height: auto;
    }
}