@import './../../styles/variables';

.container {
    padding-bottom: 2rem;

    header {
        display: flex;
        align-items: flex-end;

        .logo {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
            background: #EEE;

            img {
                width: 100%;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                width: 2rem;
                height: 2rem;
            }
        }

        .details {
            flex: 1;

            .timePeriod {
                font-size: 0.825rem;
                margin-bottom: 0.5rem;
            }
        }

        .toggle {
            font-size: 0.875rem;
            cursor: pointer;
            color: #AAA;
        }
    }

    .project {
        margin-left: 5rem;

        @media screen and (max-width: $tablet-breakpoint) {
            margin-left: 0;
        }
    }
}

.organization {
    margin: 0.125rem 0;
    font-weight: 400;

    a {
        text-decoration: none
    }
}