.container {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #CCC;

    .timePeriod {
        font-size: 0.825rem;
        margin-bottom: 0.5rem;
    }

    .project {
        margin-left: 2rem
    }
}

.organization {
    margin: 0.125rem 0;
    font-weight: 400;

    a {
        text-decoration: none
    }
}