@import './../../styles/_variables';

.skills {
    display: grid;
    grid-template-columns: auto auto auto auto;

    .skill {
        width: 5rem;
        margin: 1rem;

        .icon {
            width: 4rem;
            height: 4rem;
            margin: 0 auto 0.3125rem;
            border-radius: 5px;

            img {
                height: 100%;
            }
        }

        .name {
            font-size: 0.75rem;
            text-align: center;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            margin: 0.5rem
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        grid-template-columns: auto auto auto
    }
}