@import './../../styles/_variables';

.navigation {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            margin-right: 3rem;

            a {
                text-decoration: none;
                color: $white-color;
            }

            @media screen and (max-width: $tablet-breakpoint) {
                margin: 1rem;
            }
        }

        @media screen and (max-width: $tablet-breakpoint) {
            flex-direction: column;
        }
    }

}