@import './../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 5rem;
    color: $white-color;
}

.name {
    font-size: 7rem;
}

.description {
    text-align: justify;
    line-height: 1.5rem;
}